<div style="text-align: center">
    <h2>Search</h2>
    
    <%= form_with url: searches_path, local: true do |form| %>
        <%= form.label :term, "Search"%>
        <%= form.text_field :term, id: 'search-input', placeholder: "Start typing here . . ." %>
        
    <%end%>
    <ul id="search-results" style="text-align: left"></ul>
</div>

<%= link_to 'Most searched keywords', searches_path, style: 'background-color: gray; color: white; padding: 10px; margin: 5px; text-align: left; text-decoration: none; font-size: 20px;' %>

<h1>Articles</h2>
<% @articles.each do |article| %>
        <div style="border: 2px solid gray; padding: 3px; margin:8px; ">
            <h3><%= article.title %></h4>
            <p style="font-style: italic"><%= truncate(article.body, length: 100, seperator: "", omission: "...") %></p>
        </div>
<%end%>

<script>
    
        const searchInput = document.getElementById('search-input')
        const searchResults = document.getElementById('search-results')

        let searchTimer;

        //fetch results on input
        searchInput.addEventListener('input', function() {
            !searchInput.value 
            ? searchResults.innerHTML = ''
            : fetchSearchResults(searchInput.value)
        })
        //record search term
        searchInput.addEventListener('keydown', function() {
            clearTimeout(searchTimer)
        })
        searchInput.addEventListener('keyup', function() {
            clearTimeout(searchTimer)
            searchTimer = setTimeout( function() {
                saveSearchTerm(searchInput.value)
            }, 1200)
        })
        
        function saveSearchTerm(term) {
            term.trim().length &&
            fetch('/searches', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
                },
                body: JSON.stringify({ search: { term: term } })
            })
            .then(response => response.json)
            .then(data => console.log("Search term saved: ", data))
            .catch(err => console.log("Search error: ", err))
        }

        function fetchSearchResults(term) {
            term.trim().length &&
            fetch(`/articles/search?term=${encodeURIComponent(term)}`)
            .then(response => response.json())
            .then(data => displaySearchResults(data))
        }

        function displaySearchResults(data) {
            searchResults.innerHTML = ''
            if(!data.length) {
                const h5 = document.createElement('h5')
                h5.textContent = "No results found!"
                searchResults.appendChild(h5)
            }
            data.forEach(item => {
                const li = document.createElement('li')
                const h3 = document.createElement('h3')
                const p = document.createElement('p')

                h3.textContent = item.title
                p.textContent = item.body

                li.appendChild(h3)
                li.appendChild(p)

                searchResults.appendChild(li)
            })
        }

</script>



